body {
    background-image: url(wall.jpg);
    margin-top: 150px;
    margin-bottom: 150px;

}
.box{
    background-color: rgb(163, 163, 163);
   border: 1px solid rgb(4, 131, 0);
   text-align: center;
   box-shadow: 10px 10px 5px rgba(0, 255, 42, 0.767);
}    
.link{
    color: rgb(0, 165, 41);
    text-decoration: underline;
    
}
.whitemain{
    color: rgb(0, 0, 0);
}
#box {
    border-radius: 10px;
    border: 2px solid #00ff15;
    background-color: rgba(0, 0, 0, 0.575);
    padding: 10px; 
    width: 550px;
    height: 300px;  
    text-align: center;
    box-shadow: 10px 10px 5px rgba(0, 255, 42, 0.767);
  }
  .button {
    border: 2px;
    background-color: #a1a1a1;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .centercontent{
    text-align: center;
  }
  .margin{
 
    margin-left: 430px;
  }
  .inputbox{
    background-color: #ffffff;
    border: none;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    text-align: center;
    width: 90%;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  hr.solid {
    border-top: 3px solid  #00ff15;
  }
  label{
    color: white;
  }